$color-lightGrey: #efefef;
$color-brand: #f90;
$color-text: #333333;
$border-radius: 3px;
$padding: 24px;
$fontFamily: 'Open Sans', sans-serif;
$box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.15);

$color-red: #f14668;
